<% title =  params[:type] != "txt" ? "上传系统文件" : "上传脚本配置文件" %>
<% provide(:title, "#{title}") %>
<h1 class="page-header"></h1>

<div class="bs-example">
<%= simple_form_for @upload_file, url: upload_files_path, html: {multipart: true, class: 'form'} do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <%= f.hidden_field :file_type %>
  <div class="form-group">
    <label for="tasks_file">
    <%= "#{title}" %>
    <small>（请使用<%= params[:type] || "plist" %>文件格式。）</small>
    </label>
    <input type="file" name="tasks_file" id="tasks_file" class="form-control">
  </div>
  <%= f.submit "上传文件", :class => 'btn btn-success', 'data-disable-with' => '提交中...' %>
<% end %>
</div>