<% provide(:title, "导入数据") %>
<h1 class="page-header">导入数据</h1>
<div class="table-responsive">
  <%= link_to '导入数据', new_information_path, class: 'btn btn-success floatLeft' %>

  <div class="testswitch">
    <input class="testswitch-checkbox" id="onoffswitch" type="checkbox" data-checked="<%= Setting.first.switch %>" >
    <label class="testswitch-label" for="onoffswitch">
      <span class="testswitch-inner" data-on="ON" data-off="OFF"></span>
      <span class="testswitch-switch"></span>
    </label>
  </div>
  <h4 class="tips">当前不能获取数据</h4>
</div>
<hr>
<% if @informations.any? %>
  <div class="row-fluid">
    <div class="span6">
      <p>
        <%= link_to 'javascript::void(0);', :data => {:toggle => :checkboxes, :action => :check, :range => 'true'} do %>
          <i class="glyphicon glyphicon-ok text-success"> </i>全选
        <% end %>

        <span> / </span>

        <%= link_to 'javascript::void(0);', :data => {:toggle => :checkboxes, :action => :uncheck, :range => 'true'} do %>
          <i class="glyphicon glyphicon-remove text-danger"> </i>全不选
        <% end %>

        <span> / </span>

        <%= link_to 'javascript::void(0);', :data => {:toggle => :checkboxes, :action => :toggle, :range => 'true'} do %>
          <i class="glyphicon glyphicon-refresh text-warning"> </i>反选
        <% end %>

        <span> / </span>

        <%= link_to 'javascript:void(0)', id: 'download' do %>
          <i class="glyphicon glyphicon-download-alt text-primary"> </i>导出
        <% end %>

        <%= link_to "javascript:void(0)", id: 'downloads', target: '_blank', class: "hide"  do %>
          <i class="glyphicon glyphicon-download-alt text-primary"> </i>导出？
        <% end %>

        <span> / </span>

        <%= link_to "#", id: 'batch_destroy' do %>
          <i class="glyphicon glyphicon-trash text-primary"> </i>删除选中
        <% end %>

        <span> / </span>

        <%= link_to "#", id: 'batch' do %>
          <i class="glyphicon glyphicon-download-alt text-primary"> </i>批量修改状态为未使用
        <% end %>

        <span> / </span>

        <%= link_to delete_success_path, id: 'delete_success' do %>
          <i class="glyphicon glyphicon-download-alt text-primary"> </i>注册成功帐号删除
        <% end %>
      </p>
    </div>
  </div>
  <hr>
  <h3>数据总量：<%= @informations.count %></h3>
  <hr>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th width="5%"></th>
        <th width="15%">帐号</th>
        <th width="50%">链接</th>
        <th width="10%">状态</th>
        <th width="20%">操作</th>
      </tr>
    </thead>
    <tbody>
      <% @informations.each do |information| %>
      <tr>
        <td>
          <label>
            <%= check_box_tag "information_ids[#{information.id}]", information.id, false, :class => 'ace ace-checkbox-1 information-checkbox' %>
            <span class="lbl"> </span>
          </label>
        </td>
        <td><%= information.account %></td>
        <td class="hidden_text"><%= information.link %></td>
        <% if information.is_use == 2 %>
          <td class="text-primary">注册成功</td>
        <% elsif information.is_use == 1 %>
          <td class="text-info">待修改</td>
        <% elsif information.is_use == 3 %>
          <td class="text-danger">验证中</td>
        <% else %>
           <td class="text-success">未使用</td>
        <% end %>
        <td>
          <%= link_to '改为未使用', information_path(information), class: 'btn btn-info', method: :put %>
          <%= link_to '删除', information_path(information), class: 'btn btn-danger', data:{confirm: '确定删除吗?'}, method: :delete %>

        </td>

      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<script>
  $('[data-toggle=checkboxes][data-action=check]').click(function(e){
    e.preventDefault();
    $('.information-checkbox').prop('checked', true)
    return false;
  });

  $('[data-toggle=checkboxes][data-action=uncheck]').click(function(e){
    e.preventDefault();
    $('.information-checkbox').prop('checked', false)
    return false;
  });

  $('[data-toggle=checkboxes][data-action=toggle]').click(function(e){
    e.preventDefault();
    var checkboxes = $('.information-checkbox');
    for(var i = 0; i<checkboxes.length; i++){
      var status = $(checkboxes[i]).prop('checked');
      $(checkboxes[i]).prop('checked', !status);
    }
    return false;
  });

  $("#download").click(function () {
    var information_ids = [];
    $.each($('.information-checkbox:checked'), function () {
      information_ids.push($(this).val());
    });
    if (information_ids.length > 0) {
      $.ajax({
        url: "information_download",
        method: 'POST',
        dataType: 'json',
        data: {information_ids: information_ids},
        success: function(res) {
          $("#downloads").attr("href", "get_file?path=" + res.path)
          $("#downloads").append("<span></span>");
          $("#downloads span").click();
          $("#downloads").click()
          setTimeout(function(){
            window.location.reload()
          },2000);
        },
        error: function(error) {
          alert(error);
        }
      })
    } else {
      alert('你没有勾选任何帐号!');
    }
  });
  $("#batch_destroy").click(function () {
    var information_ids = [];
    $.each($('.information-checkbox:checked'), function () {
      information_ids.push($(this).val());
    });

    if (information_ids.length > 0) {
      $.ajax({
        url: "destroy_informations",
        method: 'POST',
        dataType: 'json',
        data: {information_ids: information_ids},
        success: function(res) {
          setTimeout(function(){
            window.location.reload()
          },2000);
        },
        error: function(error) {
          alert(error);
        }
      })
    } else {
      alert('你没有勾选任何帐号!');
      $("#batch_destroy").attr("href", "#")
    }
  })

  $("#batch").click(function () {
    var information_ids = [];
    $.each($('.information-checkbox:checked'), function () {
      information_ids.push($(this).val());
    });

    if (information_ids.length > 0) {
      $.ajax({
        url: "batch_update",
        method: 'POST',
        dataType: 'json',
        data: {information_ids: information_ids},
        success: function(res) {
          alert(res.message)
          setTimeout(function(){
            window.location.reload()
          },2000);
        },
        error: function(error) {
          alert(error);
        }
      })
    } else {
      alert('你没有勾选任何帐号!');
      $("#batch").attr("href", "#")
    }
  });

$(document).ready(function() {
  if($("#onoffswitch").data("checked")){
    $("#onoffswitch").prop('checked', true)
    $('.tips').text("当前可以获取数据")
  }
  $("#onoffswitch").on('click', function(){
		clickSwitch()
    $.get("toggle_switch")
	});

	var clickSwitch = function() {
		if ($("#onoffswitch").is(':checked')) {
			console.log("在ON的状态下");
      $('.tips').text("当前可以获取数据")
		} else {
			console.log("在OFF的状态下");
      $('.tips').text("当前不可以获取数据")
		}
	};
});

</script>
